[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule ".zsh/plugins/auto-fu"]
	path = .zsh/plugins/auto-fu
	url = https://github.com/hchbaw/auto-fu.zsh
[submodule ".zsh/zaw"]
	path = .zsh/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule ".zsh/cdd"]
	path = .zsh/cdd
	url = https://github.com/m4i/cdd.git
[submodule ".zsh/zsh-notify"]
	path = .zsh/zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
